<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.fiserv.dps.mobile.fiapp">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="FIApp.Android" tools:node="replace" android:theme="@style/MainTheme">
		<activity android:name="com.fiserv.dps.mobile.sdk.activity.ScanQRActivity" />
		<activity android:name="com.fiserv.dps.mobile.sdk.activity.ContactDetailActivity" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>